html{
  background-color: #7FC7AF;
}

.header_bar{
  background-color: black;
  color: white;
}

#header{
  display: inline-block;
  padding-bottom: 1em;
}

#nav {
  float: right;
}

.page_headline{
  padding-bottom: 1em;
}

.container {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2em;
  padding: 2em;
  border-style: solid;
  border-width: 5px;
}
