<!-- button to play another game with the same deck -->
<a href="/decks/<%=@deck.id%>/rounds/new">Play Again?</a>

<!-- stats for this game -->
<p>STATS</p>

<p>You submitted <%=@round.total_guesses%> total guesses before each card was answered correctly.</p>





