<div class="title">Signin</div>
<form action="/users/login" method="post">
  <input type="hidden" name="_method" value='put'>
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Sign In" />
</form>
