<h1>Hello <%= current_user.username %>! </h1>

<h2><a href="/users/signout">Sign Out </a></h2>

<div class = "container">
  <% @decks.each do |deck| %>
  <li><a href = "decks/<%= deck.id %>"><%= deck.name %></a></li>
  <% end %>
</div>
