<div class = "page_headline">
  Hello <%= current_user.username %>
</div>

<div class = "container">
  <% @decks.each do |deck| %>
  <li><a href = "decks/<%= deck.id %>"><%= deck.name %></a></li>
  <% end %>
</div>
