<form action="/decks/<%=deck.id%>/cards/<%=card.id%>" method="POST">
  <label for="answer">Answer</label>
  <p><input id="answer" type="text" name="card[answer]" /></p>

  <p><input type="submit" value="Guess"/></p>
</form>
