<p><label for="question">Question:</label>
<input id="question" type="text" name="card[question]" value="<%= card.question %>"/></p>

<p><label for="answer">Answer:</label>
<input id="answer" type="text" name="card[answer]" value="<%= card.answer %>"/></p>

<p><input type="submit" value="Save"/></p>
