<div class = "round_container">
  <h1><%= @deck.name %></h1>
  <h3> Type your question and answer here </h3>

  <table>
    <tr>
      <th> Question </th>
      <th> Answer </th>
    </tr>
    <% @deck.cards.each do |card| %>
    <tr>
      <td><%= card.question %></td>
      <td><%= card.answer %></td>
    </tr>
    <% end %>
  </table>

  <form action="/decks/<%= @deck.id %>/cards" method="post">
    <input type="text" name="card[question]" placeholder="Question" />
    <input type="text" name="card[answer]" placeholder="Answer" />
    <br><input type="submit" name="action" value="Add Card" />
    <input type="submit" name="action" value="Finish Deck" />
  </form>

</div>
