<!-- needs to be passed a @deck object & a @card object @round object -->

<h1><% @deck.name %></h1>

<div class="card">
  <% @card.question %>
</div>

<% if @round.guesses == 3 %>
  <div class="card">
    <% @card.answer %>
  </div>
<% end %>



