<!-- needs to be passed a @deck object & a @card object @round object -->

<h1><%= @deck.name %></h1>

<div class="card">
  <%= @card.question %>
</div>

<div class="input-form">
  <%= erb :'cards/_form', locals: {game: @game, card: @card} %>
</div>

