<div class="container">
  <h1 class="title">New Deck</h1>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p class="error-message"><%=error%></p>
    <% end %>
  <%end%>
  <form action="/decks" method="POST">
    <%= erb :"decks/_form", locals: { deck: @deck } %>
  </form>
</div>



