<header>

  </header>

    <header>
    <div id="title-block"><h1><a href="http://127.0.0.1:9393/">Flashcards</a></h1></div>


    <ul class="nav-bar">
      <li class="menu-list"><a href="http://kripple.github.io/index.html">About</a></li>
      <li class="menu-list"><a href="http://kripple.github.io/projects/index.html">Projects</a></li>
      <li class="menu-list"><a href="http://kripple.github.io/blog-index.html">Blog</a></li>
      <li class="menu-list"><a href="../resume.pdf">Resume</a></li>
      <li class="menu-list"><a href="mailto:kelly.m.ripple@gmail.com">Contact</a></li>
    </ul>
  </header>




