 <header class="header">
  <section id="logo">
    <img src="flash-logo.png" height=60px>
    <h1><a href="/">Flashcards</a></h1>
  </section>

  <ul>
    <li><a href="/decks">All Decks</a></li>

    <% if logged_in? %>
      <li>Hello, Fullname</li>
      <li><a href="">Profile</a></li>
      <li><a href="">Logout</a></li>
    <% else %>
      <li><a href="">Login</a></li>
      <li><a href="">Sign up</a></li>
    <% end %>
  </ul>
</header>




