<%if logged_in?%>
  <% redirect '/decks' %>
<%else%>
  <h1 class="title" id="main-title"><a href="/users/new">Sign up</a> or <a href="/users/login">log in</a> to create your own Flashcards!</h1>
<%end%>





