<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>

  <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>

<div class = "header_bar">
  <header id='header'>
    FlashCards by ESB
  </header>
  <nav id='nav'>
    <a href="/">Home</a>
    <% if signed_in? %>
      <a href="/users/<%= session[:user_id] %>">Stats</a>
      <a href="/users/signout">Sign Out</a>
    <%end%>
  </nav>
</div>

<body>
  <%= erb :'/_flash_messages', layout: false %>
  <%= yield %>
</body>
</html>
